{% extends 'base.html.twig' %}

{% block title %}Judo Club{% endblock %}

{% block body %}
<div class="container">
    <section class="row">
    <h1>Bienvenue sur le site du club</h1>
    </section>
    <section class="row container-vertu mt-5">
        <div class="col-md-3 vertu bg-secondary"><h5>La modestie</h5></div>
        <div class="col-md-3 vertu bg-secondary"><h5>La politesse</h5></div>
        <div class="col-md-3 vertu bg-secondary"><h5>La sincérité</h5></div>
        <div class="col-md-3 vertu bg-secondary"><h5>L'amitié</h5></div>
    </section>
    <section class="row container-vertu mt-5">
        <div class="col-md-3 vertu bg-secondary"><h5 class="text-center">Le contrôle de soi</h5></div>
        <div class="col-md-3 vertu bg-secondary"><h5>Le courage</h5></div>
        <div class="col-md-3 vertu bg-secondary"><h5>Le respect</h5></div>
        <div class="col-md-3 vertu bg-secondary"><h5>L'honneur</h5></div>
    </section>
    <section class="row text-center mt-5">
        <blockquote class="citation">
            <q>On ne juge pas un homme sur le nombre de fois qu'il tombe mais sur le nombre de fois qu'il se relève</q><br> Jigoro Kano
        </blockquote>
        
    </section>
    
</div>
  
{% endblock %}
